<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- linking to stylesheet not working -->
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <title>Welcome</title>
    <style>
        .welcome-message {
            font-family: Lato, sans-serif;
            font-size: 16px;
            background-color: #fff;
            color: #0a0a0a;
            padding: 5px 10px;
            line-height: 1.5;
        }

        h1 {
            color: goldenrod;
        }

        .biz-name {
            color: goldenrod;
        }

        .uppercase {
            text-transform: uppercase;
        }
        
    </style>
</head>
<body>
    <div class="welcome-message">
        <h1>Hello <%= username %></h1>
        <!-- internal image linking not working -->
        <!-- <img src="/images/introduction.png" alt="Welcome icon"> -->
        <img src="https://supportforsingleparents.org/wp-content/uploads/2017/05/welcome-icon.jpg" alt="Welcome icon">
        <h2>Welcome to <span class="biz-name">deBee Chat</span><br><span class="uppercase">Your account has been successfully created.</span></h2>
        <p>We are excited to have you on board.</p>
        <p>Thank you for choosing us. Enjoy your experience!</p><br>
        <strong><a href="https://debeechatapi.onrender.com/verify/?email=<%= user.email %>">Click to verify your account</a></strong>
        <!-- <p>Thank you for choosing us. Enjoy your experience!</p><br>
        <strong><a href="http://localhost:2023/verify/?email=<%= user.email %>">Click to verify your account</a></strong> -->
    </div>
</body>
</html>